<div class= "custom-font">
	<br></br>
<h2 class= "text-center cool-font-big">My Dev Journey</h2>

<% @pics.each do |pic| %>
	<div class= "boxy span3"
		<h2>
			Hour <%= pic.hour %>
		</h2>
		<div>
			<%= image_tag pic.image.to_s %>
		</div>
		<p>
			<%= pic.emotion %>
		</p>

		<p>
			I learned that
			<%= pic.learned %>
		</p>
	</div>

<% end %></div>