
body {
	background: url('nyc nightlit.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

}

.custom-font {
	color: white;
}

.cool-font-big {
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 64px;

}
.cool-font-small {
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 32px;
}